.menu {
  background-color: #2b2f77;
  padding: 15px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.menu a:hover {
  color: #00e0ff;
}